// Responsive breakpoints
$responsive-xs-max-width: 767px;
$responsive-md-min-width: 992px;
$responsive-lg-min-width: 1200px;

// Colors
$white: #ffffff;
$very-light-grey: #fafafa;
$primary-color: #00425b;
$secondary-color: #007aaa;


