// Responsive breakpoints
$responsive-xs-max-width: 767px;
$responsive-md-min-width: 992px;
$responsive-lg-min-width: 1200px;

// Colors
$white: #ffffff;
$black: #000000;
$very-light-grey: #fafafa;
$grey: #e7e7e7;
$box-color: rgba(240, 240, 240, 1);
$primary-color: #00425b;
$secondary-color: #007aaa;
$third-color: #979797;
$box-color: rgba(163, 163, 163, .18);
$button-color: #cef4eb;
$text-color: #979797
