
@import '../global/master';

.dashboard-page {
  overflow: hidden;
  width: 100vw;

  .username {
    color: $secondary-color;
    //font-family: 'Jura-Bold';
    font-size: 1.4rem;
    margin-top: -6vh;
    text-align: center;
    z-index: 10;
  }

  .list-container {
    margin: 3vh auto;
    width: 85vw;

    &__item {
      align-items: center;
      display: flex;
      padding: 3% 2%;

      .icon {
        align-items: center;
        background: $very-light-grey;
        border-radius: 50%;
        display: flex;
        height: 45px;
        justify-content: center;
        width: 45px;
      }

      .icon-title {
        font-size: 1.4rem;
        padding-left: 10%;
        width: 70%;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .button {
    background-color: $primary-color;
    border-radius: 60px;
    color: $white;
    display: block;
    font-size: 1.2rem;
    height: 38px;
    margin: 5vh auto 0;
    text-transform: uppercase;
    transition: all .3s linear;
    width: 50%;

    &:hover {
      background-color: $white;
      border: 1px $primary-color solid;
      color: $primary-color;
      transition: all .3s linear;
    }

    &:active {
      background-color: $white;
      border: 1px $primary-color solid;
      color: $primary-color;
    }
  }
}

