@import '../global/master';

.category-container {
  width: 100vw;

  &:last-child {
    margin-bottom: 5vh;
  }

  &__title  {
    color: $black;
    font-family: 'Jura-Regular';
    font-size: 1.5rem;
    margin-left: 6rem;
  }

  &__image {
    @include for-size (desktop) {
      height: 80px;
    }
    height: 60px;
    width: 120px;
  }

  &__link {
    @include for-size (desktop) {
      margin-top: 80px;
    }
    align-items: center;
    box-shadow: 0 0 5px 2px $box-color;
    cursor: pointer;
    display: flex;
    margin-top: 3rem;
    text-decoration: none;

    &:hover {
      box-shadow: 0 0 7px 3px $box-dark-color;
    }
  }
}
