@import '../global/master';

.footer {
  display: none;

  @include for-size (desktop) {
    display: block;
    width: 100vw;
  }

  .top-line {
    border-top: 1px $primary-color solid;
    height: 1px;
    margin: 0 auto 2vh;
    width: 90vw;
  }

  .icons-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    width: 50%;

    &__item {
      width: 20%;
    }
  }

  .links-container {
    color: $primary-color;
    display: flex;
    justify-content: space-between;
    margin: 2vh auto;
    width: 50%;

    &:hover {
      color: $secondary-color;
    }
  }
}
