@import '../global/master';

.Header-container {

  @include for-size (tablet-portrait-up) {
    height: 7vh;
    padding: 15px 103px;
  }
  align-items: center;
  background: $box-color;
  display: flex;
  height: 5vh;
  position: fixed;
  width: 100vw;

  .logo {
    padding: 10px 15px;

    &__image {
      @include for-size (tablet-portrait-up) {
        height: 50px;
        width: 50px;
      }
      height: 30px;
      width: 30px;
    }
  }



  .register {
    @include for-size (tablet-portrait-up) {
      transform: translateX(75rem);
    }
    margin-left: 150px;
    text-decoration: none;

    &__title {
      @include for-size (tablet-portrait-up) {
        font-size: 20px;
      }
      color: $white;
      font-size: 12px;


      &:hover {
        border-bottom: $white 1px solid;
        transition: 250ms;
      }
    }
  }


  .login {
    @include for-size (tablet-portrait-up) {
      transform: translateX(80rem);
    }
    margin-left: 20px;
    text-decoration: none;


    &__title {
      @include for-size (tablet-portrait-up) {
        font-size: 20px;
      }
      color: $white;
      font-size: 12px;


      &:hover {
        border-bottom: $white 1px solid;
        transition: 250ms;
      }
    }
  }
}
