@import '../global/master';

.header {
  background: $box-color;
  height: 7vh;
  position: fixed;
  width: 100vw;
  @include for-size (desktop) {
    height: 9vh;
  }

  &__container {
    align-items: center;
    display: flex;
    height: 5vh;
    justify-content: space-between;
    margin: 1vh auto;
    width: 90vw;
    @include for-size (desktop) {
      margin: 2vh auto 1vh;
      width: 95vw;
    }

    .logo {
      width: 30px;
      @include for-size (desktop) {
        width: 42px;
      }

      &__image {
        width: 100%;
      }
    }

    .personal-space {
      text-align: right;
      text-decoration-line: none;

      &__link {
        color: $white;
        font-size: 1.3rem;
        @include for-size (desktop) {
          font-size: 1.4rem;
        }

        &:hover {
          border-bottom: 1px solid $white;
          cursor: pointer;
        }
      }
    }
  }
}
