@import '../global/master';

.helper-static-background {

  .background-image {
    background-color: $primary-color;
    background-image: url('../../img/futurist_city.png');
    background-size: cover;
    height: 40vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -10;
  }

  .waves {
    background-image: url('../../img/waves.png');
    background-size: cover;
    height: 45vh;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    z-index: -5;
  }

  .profile-picture {
    background: $primary-color;
    border-radius: 100%;
    height: 38vw;
    left: 32vw;
    margin: auto;
    position: absolute;
    top: 14vh;
    width: 38vw;
    z-index: 10;
  }
}