@import '../global/master';

.register-form {
  margin-top: -30px;
  width: 100vw;

  &__title {
    font-size: 1.4rem;
    text-align: center;
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    width: 90%;
  }

  &__input {
    background-color: $very-light-grey;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 70%;
  }

  &__button {
    background-color: $secondary-color;
    border-radius: 60px;
    color: $white;
    font-size: 1.3rem;
    height: 28px;
    width: 40%;
  }
}
